<div id="<%= dom_id supervisor %>">
 <tr>
      <td><%= supervisor.name %></td>
      <td><%= supervisor.surname %></td>
      <td><%= supervisor.dni %></td>
      <td><%= supervisor.email %></td>
      <%#%<td>
          <% if supervisor.habilitado %>
     <%#%       HABILITADO
          <% else %>
      <%#%      NO HABILITADO
          <% end %>
     <%#%   </td>
    <%#%  <td>
          <% if supervisor.borrado %>
       <%#%     HABILITADO
      <%#%    <% else %>
        <%#%    NO HABILITADO
          <% end %>
     <%#%   </td> %>
      <td>
      <a <%= link_to "Detalles", supervisor_path(supervisor), class:"btn btn-outline-dark" %> 
      </a>
      <a <%= link_to "Editar", edit_supervisor_path(supervisor), class:"btn btn-outline-dark" %>
      </a>
      </td>
    </tr>
</div>
