<h2>Panel de control</h2>

<%#<%= link_to 'Ver Reportes', reports_url, class:'btn bg-color-alquilapp text-white disabled' %>
<%#<%= link_to 'Ver Pedidos de validación (no funcional)', reports_url, class:'btn bg-color-alquilapp text-white' %>

<br/>
<h4>Pedidos de validación de licencias</h4>

  <% @usuarios = Usuario.all %>
    <% entro = false %>
    <% @usuarios.each do |usuario| %>      
      <% if usuario.send_license == 1 and usuario.image_data != nil %>
        <% entro = true %>
      <% end %>
    <% end %>
      <% if not (entro) %>
        <div class='border border-secondary p-3 rounded'>
          <h5 class='text-center'>No hay validaciones pendientes</h5>
        </div>
      <% else %>
        <% if Usuario.all == [] %>
        <div class="m-2 p-3 border border-2 border-dark rounded">
          <div class="col-12 text-start">
            <div class="text-start">
              Aún no hay usuarios
            </div>
          </div>
        </div>
      <% else %>
        <div id="autos" class="border border-2 border-dark rounded">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">DNI</th>
              <th scope="col">Licencia</th>
              <th scope="col">Fecha</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <% @usuarios.each do |usuario| %>      
            <%# <%= usuario.name %> <%# Debemos de cambiar esto, ya que solo me interesa en a lista dos cosas pero me cabia todo en detalles%>
            <% if usuario.send_license == 1 and usuario.image_data != nil %>
            <div id="<%= dom_id usuario %>">
              <tr>
                <td><%= usuario.name %></td>
                <td><%= usuario.lastname%></td>
                <td><%= usuario.dni %></td>
                <td><a class="rounded-circle text-white m-1" href=<%= usuario.image_url%> target="_blank"><%= image_tag usuario.image_url, style: 'height:25%;width:10%;', class:"img-responsive"%> </a> </td>
                <td><%= usuario.date_licence%>
                <td><a> <%= link_to "Aceptar", method = supervisor_aceptar_path(:id => usuario.id), class:"btn btn-success"%> </a>
                <td><a> <%= link_to "Rechazar", method = supervisor_rechazar_path(:id => usuario.id), class:"btn btn-danger"%> </a>
              </tr>
            </div> 
            <% end %>
          <% end %>
          </tbody>
      </table>
      </div>
      <% end %>
      <% end %>

<br/>
<h4>Vehículos</h4>

<% if Auto.all == [] %>
  <div class="my-3 p-4 border border-secondary rounded">
    <div class="col-12 text-start">
        <div class="text-start">
          Aún no hay vehículos
        </div>
    </div>        
  </div>
<% else %>
  <div id="autos" class="table-responsive border border-secondary rounded">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Número relativo</th>
          <th scope="col">Patente</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Color</th>
          <th scope="col">Alquilado</th>
          <th scope="col">Habilitado</th>
          <th scope="col">Longitud</th>
          <th scope="col">Latitud</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
      <% @autos = Auto.all %>
      <% @autos.each do |auto| %>
        <% if not auto.borrado %>   
          <%= render auto %>
        <% end %>
      <% end %>
      </tbody>
  </table>
  </div>
<% end %>





