<div class= "w-100 m-auto">
<h2 class="text-center">Edición avanzada</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
   
<div class="row justify-content-center">
  <div class="col-4">
    <div class="field"> 
      <%= f.label :correo %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-2"  %>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-4">
    <div class="field"> 
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>
</div>
</div>

<div class="row justify-content-center">
  <div class="col-4">
    <div class="field">
      <%= f.label :contraseña_actual %> <i>(Necesitamos tu contraseña actual para poder confirmar los cambios.)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control mb-2"  %>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-4">
    <div class="field">
      <%= f.label :contraseña %> <i>(Dejelo en blanco si no lo quiere cambiar)</i>
      <% if @minimum_password_length %>
        <em>(Mínimo <%= @minimum_password_length %> carateres)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control mb-2"  %>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-4">
    <div class="field"> 
      <%= f.label :confirmar_contraseña %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mb-2"  %>
    </div>
  </div>
</div>

<br/>

<div class="row justify-content-center">
  <div class="col-4">
    <div class="actions">
      <%= f.submit "Actualizar", class: "btn btn-secondary"  %>
    </div>
  </div>
  </div>
  
<% end %>

<br/><br/><br/>

<div class="row justify-content-center">
  <div class="card col-4">
  <div class="card-header">
    Borrar mi cuenta
  </div>
  <div class="card-body">
    <p class="card-text">Si desea borra su cuenta permanentemente, presione el botón a continuación </p>
    <%= button_to "Borrar cuenta", registration_path(resource_name), form: {data: { turbo: false }}, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
</div>

<br/>
<div class="row justify-content-center">
  <div class="col-6 text-center">
    <%= link_to "Atrás", :back, class:"btn btn-outline-primary" %>
  </div>
</div>

<br/><br/>
</div>