<h2>Panel de control</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link text-color-alquilapp" href="/admin/dashboard">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-color-alquilapp" href="/admin/vehiculos">Vehículos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-color-alquilapp" href="/admin/precios">Precios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-color-alquilapp" href="/admin/supervisores">Supervisores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/admin/users">Usuarios</a>
  </li>
</ul>

<br/>

 <% @usuarios = Usuario.all %>
<h4>Lista de Usuarios</h4>
<br/>
  <% if Usuario.all == [] %>
    <div class="m-2 p-3 border border-secondaryrounded">
        <div class="col-12 text-start">
          <div class="text-start">
            Aún no hay usuarios
          </div>
        </div>
    </div>
  <% else %>
     <div id="autos" class="border border-secondary rounded">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Email</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">DNI</th>
              <th scope="col">Contacto</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <% @usuarios.each do |usuario| %>  
            <% if (usuario.deleted == nil or !usuario.deleted) %>
            <div id="<%= dom_id usuario %>">
              <tr>
                <% usuario_ID = usuario.id
                sql = "SELECT * FROM users WHERE id_rol='" + usuario_ID.to_s + "'"
                records_array = ActiveRecord::Base.connection.execute(sql)
                email = records_array[0]["email"] %>
                <td><%= email %></td>
                <td><%= usuario.name %></td>
                <td><%= usuario.lastname %></td>
                <td><%= usuario.dni %></td>
                <td><%= usuario.contact %></td>
                <td>
                    <a <%= link_to "Detalles", usuario_path(usuario), class:"btn btn-secondary" %></a>
                </td>
              </tr>
            </div> 
            <% end %>
          <% end %>
          </tbody>
      </table>
      </div>      
  <% end %>