  <div class= "w-100 m-auto">
  <h2 class="text-center">Iniciar Sesi칩n</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row justify-content-center">
    <div class="col-4">
      <div class="field">
        <%= f.label :email %><br />
        <input required <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"form-control" %>
      </div>
      </div>
    </div>

    <br />

    <div class="row justify-content-center">
    <div class="col-4">
      <div class="field">
        Contrase침a<% f.label :password %>
        <input required <%= f.password_field :password, autocomplete: "new-password", autofocus: true, placeholder:"Contrase침a", class:"form-control" %>
      </div>
      </div>
    </div>

    <div class="actions text-center"><br />
      <%= f.submit "Iniciar Sesi칩n", class:'btn bg-color-alquilapp text-white text-center col-4' %>
    </div>
  <% end %>

   <div class="actions text-center"><br/>
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Registrarse", new_registration_path(resource_name), class:"btn btn-outline-primary" %><br />
    <% end %>
    </div>
  </div>
