<div id="<%= dom_id @precios %>">
    <tr>
      <td>$<%= @precios.monto_auto %></td>
      <td>$<%= @precios.monto_multa %></td>
      <td><%= @precios.cooldown %> minutos</td>
      <td><%= @precios.tiempo_multa %> minutos</td>
    </tr>
</div>
