<div id="<%= dom_id @precios %>">
    <tr>
      <td><%= @precios.monto_auto %></td>
      <td><%= @precios.monto_multa %></td>
      <td><%= @precios.cooldown %></td>
      <td><%= @precios.tiempo_multa %></td>
    </tr>
</div>
