<div id="<%= dom_id auto %>">
    <tr>
    <% if user_signed_in? %>
      <td><%= auto.num_rel %></td>
    <% end %>
      <td><%= auto.patente %></td>
      <td><%= auto.marca %></td>
      <td><%= auto.modelo %></td>
      <td><%= auto.color %></td>
      <% if user_signed_in? %>        
          <td>
            <% if auto.alquilado %>
              ALQUILADO
            <% else %>
              SIN ALQUILAR
            <% end %>
          </td>
          <td>
            <% if auto.habilitado %>
              HABILITADO
            <% else %>
              NO HABILITADO
            <% end %>
          </td>
      <% end %>
      <td><%= auto.lon %></td>
      <td><%= auto.lat %></td>
      <td>
      <% if user_signed_in? %>
        <a <%= link_to "Editar", edit_auto_path(auto), class:"btn btn-outline-dark" %></a>
      </td>
      <% end %>
      </td>
    </tr>
</div>


