<%= form_with(model: auto) do |form| %>

<div class="row">
<div class="col-4">

<% if (current_user.admin?)  %>
<div class="col-md-8 mb-3">
  <div>
    Numero relativo <% form.label :num_rel, style: "display: block" %>
    <%= form.number_field :num_rel, class:"form-control" %>
  </div>
</div>

<div class="col-md-8 mb-3">
  <div>
    <%= form.label :patente, style: "display: block" %>
    <%= form.text_field :patente, class:"form-control" %>
  </div>
</div>

<div class="col-md-8 mb-3">
  <div>
    <%= form.label :marca, style: "display: block" %>
    <%= form.text_field :marca, class:"form-control" %>
  </div>
</div>

<div class="col-md-8 mb-3">
  <div>
    <%= form.label :modelo, style: "display: block" %>
    <%= form.text_field :modelo, class:"form-control" %>
</div>
</div>

<div class="col-md-8 mb-3">
  <div>
    <%= form.label :color, style: "display: block" %>
    <%= form.text_field :color, class:"form-control" %>
  </div>
</div>
<% end %>

</div>
<div class="col-6">

<% if (current_user.supervisor?)  %>
<div class="col-md-6 mb-3">
  <div>
    <%= form.label :habilitado, style: "display: block", class:"form-check-label" %>
    <%= form.check_box :habilitado, class:"form-check-input" %>
  </div>
</div>
<% end %>

<% if (current_user.admin?)  %>
<div class="col-md-6 mb-3">
  <div>
    Longitud<% form.label :lon, style: "display: block" %>
    <%= form.text_field :lon, class:"form-control" %>
  </div>
</div>

<div class="col-md-6 mb-3">
  <div>
    Latitud<% form.label :lat, style: "display: block" %>
    <%= form.text_field :lat, class:"form-control" %>
  </div>
</div>
<% end %>

<div class="row">
  <% if (current_user.admin?)  %>
    <div class="col-2">
      <%= link_to "Eliminar", admin_eliminar_vehiculo_path(@auto), class:'btn btn-danger text-white' %>
    </div>
  <% end %>
  
  <div class="col-2">
    <button class='btn bg-color-alquilapp text-white' <%= form.submit %>Guardar</button>
  </div>
</div>

</div>
</div>

<% end %>
