<h2>Vehículos</h2>

<% @autos = Auto.all %>
<% entra = false %>
<% cantidad = 0 %>
  <% @autos.each do |auto| %>
    <% if (!auto.borrado && auto.habilitado) %>
      <% entra = true %>
      <% cantidad = cantidad + 1 %>
    <% end %>    
<% end %>

<% if cantidad == 0 %>
    <div class="alert alert-warning" role="alert">
    Aún no hay vehículos
  </div>
<% end %>
<div class="d-flex aligns-items-center justify-content-center">
  <div id="my-map" class="border border-secondary rounded" style="width: 800px; height: 500px; position: relative;"></div>
        <script>
            // create a map
            const map = L.map('my-map').setView([-34.9212720014385, -57.95469262045519], 14);
            // cordenadas La Plata: -34.9212720014385, -57.95469262045519

            <% i = 0 %>

            <% while (i < cantidad) %>
              L.marker([<%= @autos[i].lat %>, <%= @autos[i].lon %>]).addTo(map)
		          .bindPopup('<b><%= @autos[i].patente %></b><br /><%= @autos[i].marca %> </br> <a <%= link_to "Ver más", auto_path(@autos[i]), class:"btn btn-outline-dark" %></a>').openPopup();
              <% i = i + 1 %>
            <% end %>
            
            // Retina displays require different mat tiles quality
            const isRetina = L.Browser.retina;            

            const baseUrl = "https://maps.geoapify.com/v1/tile/osm-bright/{z}/{x}/{y}.png?apiKey=f1922b60cc5a482d9e944c4118d55f06";
            const retinaUrl = "https://maps.geoapify.com/v1/tile/osm-bright/{z}/{x}/{y}@2x.png?apiKey=f1922b60cc5a482d9e944c4118d55f06";

            // Add map tiles layer. Set 20 as the maximal zoom and provide map data attribution.
            L.tileLayer(isRetina ? retinaUrl : baseUrl, {
                attribution: 'Powered by AlquilAPP',
                apiKey: 'f1922b60cc5a482d9e944c4118d55f06',
                maxZoom: 20,
                id: 'osm-bright',
            }).addTo(map);
        </script>
</div>
