<%= form_with(model: @historial) do |form| %>

<% if (params.keys.count != 3) %>
  <script>
  $(document).ready(function () {
    console.log("aca");
    $("#exampleModal").modal('show');
  });
  </script>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Alquilar Vehiculo</h1>
          <a type="button" class="btn-close" href="/autos/<%= params[:id] %>" ></a>
        </div>
        <div class="modal-body">
          Total: $<%= params[:precio_total] %>
        </div>
        <div class="modal-footer">
          <a class="btn btn-secondary text-white" href="/autos/<%= params[:id] %>" >Cancelar</a>          
          <%= form.hidden_field :alquilar, value:true %>
          <button class='btn bg-color-alquilapp text-white' <%= form.submit %>Alquilar</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg">
      <h3 class="row justify-content-center">Detalles del Vehiculo</h3>
      <br>
      <div class="row justify-content-center">
        <div class="col-6"> 
          <div>
            <b> Patente: </b> <%= @auto.patente %> <br/>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-6"> 
          <div>
            <b> Marca: </b> <%= @auto.marca %> <br/>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-6"> 
          <div>
            <b>Modelo:</b> <%= @auto.modelo %> <br/>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-6"> 
          <div>
            <b> Color: </b> <%= @auto.color %> <br/>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg">
      <h3 class="row justify-content-center">Detalles del Alquiler</h3>
      <br>
      <div class="row justify-content-center">
        <div class="col-7"> 
          <div>
            <b> Precio por hora: $<%=Global.last.monto_auto%> </b> <br/>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-7"> 
          <div>
            <b><label for="tiempoAlquilado" class="form-label">Tiempo de Alquiler (en horas):</label></b>
            <input id="tiempoAlquilado" type="integer", required <%= form.number_field :tiempoAlquilado, class:"form-control", value:params[:tiempo_alquilado] %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<%= form.hidden_field :id_auto, value:@auto.id %>
<div class="row justify-content-center">
  <div class="col-md-12 text-center"> 
    <%= link_to "Atrás", autos_path, class:"btn btn-outline-primary"  %>
    <button class='btn bg-color-alquilapp text-white' <%= form.submit %>Alquilar</button>
  </div>
</div>


<% end %>