<%= form_with(model: usuario) do |form| %>

<div class="row justify-content-center">
  <div class="col-4">
    <div class="field"> 
      <div>
        Nombre<% form.label :name %> <br/>
        <input required <%= form.text_field :name, class:"form-control"%></input>
      </div>
    </div>
  </div>
  </div>

<br/>
<div class="row justify-content-center">
  <div class="col-4">
    <div class="field"> 
      <div>
    Apellido<% form.label :lastname %> <br/>
    <%= form.text_field :lastname, class:"form-control" %>
      </div>
    </div>
  </div>
  </div>

<br/>
<div class="row justify-content-center">
  <div class="col-4">
    <div class="field"> 
      <div>
    DNI<% form.label :dni %> <br/>
    <%= form.text_field :dni, class:"form-control" %>
      </div>
    </div>
  </div>
  </div>
<br/>
<div class="row justify-content-center">
  <div class="col-4">
    <div class="field"> 
      <div>
      Contacto<% form.label :contact %> <br/>
      <%= form.text_field :contact, class:"form-control" %>
      </div>
    </div>
  </div>
  </div>

<br/>
<div class="row justify-content-center">
  <div class="col-4">
    <div class="field"> 
      <div>
      Fecha de nacimiento<% form.label :birthdate %> <br/>
      <input required <%= form.date_field :birthdate, class:"form-control"%></input>
      </div>
    </div>
  </div>
  </div>

<br/>
<div class="row justify-content-center">
  <div class="col-4">
    <div class="field"> 
      <div>
        Licencia de conducir<% form.label :image%> <br/>
        <input required <%= form.file_field :image, class:"form-control" %> </input>
      </div>
    </div>
    <i>La licencia actual es: <%= @foto %></i>
  </div>
</div>

<br/>
<div class="row justify-content-center">
  <div class="col-4">
    <div class="field"> 
      <div>
      Vencimiento de la licencia de conducir<% form.label :date_licence %> <br/>
     <input required <%= form.date_field :date_licence, class:"form-control" %></input>
      </div>
    </div>
  </div>
  </div>

  <div class="actions text-center"><br />
    <%= form.submit "Listo", class:'btn bg-color-alquilapp text-white text-center col-4' %>
  </div>
<% end %>
