        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 bg-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <%= image_tag "favicon.png", width: 24, height: 24, class:"m-2 d-inline-block align-text-top" %></a>
                <% if (user_signed_in?) %>
                  <% if (current_user.user?) %>
                    <a class="fw-bold text-color-alquilapp" <%= link_to "AlquilAPP", autos_path %></a>    
                  <% elsif (current_user.admin?) %>
                    <a class="fw-bold text-color-alquilapp" <%= link_to "AlquilAPP", admin_dashboard_path %></a>         
                  <% elsif (current_user.supervisor?) %>
                    <a class="fw-bold text-color-alquilapp" <%= link_to "AlquilAPP", supervisors_path %></a>                    
                  <% end %>
                <% else %>
                    <a class="fw-bold text-color-alquilapp" href="/">AlquilAPP</a>
                <% end %>                
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                      <% if (current_page?('/')) %>
                        <li class="nav-item"><a class="nav-link m-1 text-center" href="#services">Servicio</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-outline-primary m-1" href="/usuarios/new">Registrarse</a></li>
                        <li class="nav-item"><a class="nav-link btn bg-color-alquilapp text-white m-1" href="/users/sign_in">Iniciar Sesión</a></li>
                      <% elsif (user_signed_in?) %>
                             <% if (current_user.user?) %>
                              <% user_ID = current_user.id
                              sql = "SELECT * FROM users WHERE id='" + user_ID.to_s + "'"
                              records_array = ActiveRecord::Base.connection.execute(sql)
                              @id_rol = records_array[0]["id_rol"] %>

                              <li class="nav-item ps-2 m-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                                </svg>
                                <a class="d-inline-block nav-link" href="/usuarios/<%= @id_rol %>">Ver Perfil</a>
                              </li>
                               <li class="nav-item ps-2 m-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                </svg>
                                <a class="d-inline-block nav-link" href="/usuarios/<%= @id_rol %>/edit">Editar Perfil</a>
                              </li>
                            <% else %>
                              <li class="nav-item ps-2 m-2">
                                <a class="d-inline-block nav-link" href="/users/edit">Editar Perfil</a>
                              </li>
                            <% end %>                            
                          <% if (current_user.user?) %>
                            <li class="nav-item ps-2 m-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a2.25 2.25 0 00-2.25-2.25H15a3 3 0 11-6 0H5.25A2.25 2.25 0 003 12m18 0v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 9m18 0V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v3" />
                              </svg>
                              <a class="d-inline-block nav-link" <%= link_to 'Billetera Virtual', wallet_show_path, class:'btn bg-color-alquilapp text-white' %></a>
                            </li>
                            <li class="nav-item ps-2 m-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                                </svg>
                              <a class="d-inline-block nav-link" <%= link_to 'Notificaciones', messages_path, class:'btn bg-color-alquilapp text-white' %></a>
                            </li>
                            <!-- Reporte todavia no
                              <li class="nav-item ps-2 m-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                              <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
                              </svg>
                              <a class="d-inline-block nav-link" <%= link_to 'Reportar', new_report_path, class:'btn bg-color-alquilapp text-white' %></a>
                            </li> -->
                          <% end %>
                          <li class="nav-item ps-2 m-2">
                            <svg class="text-danger" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                          </svg>
                              <%= link_to "Cerrar Sesión", destroy_user_session_path, 'data-turbo-method': :delete, class:'d-inline-block nav-link text-danger' %>
                          </li>
                      <% end %>
                    </ul>
                </div>
            </div>
        </nav>